:root {
  --Primary-Brand:#4D5AE5;
  --Pressed-state:#404BBF;
  --Dark:#2E2F42;
  --Success: #31D0AA;
  --Text:#434455;
  --Subtle-Text:#8E8F99;
  --Accent:#E7E9FC;
  --Light:#F4F4FD;
  --Modal-overlay:rgba(46, 47, 66, 0.4);
  --Hero-background:rgba(46, 47, 66, 0.7);
  --B-g-color:#Ffffff;
  --Nav-color:rgba(231, 233, 252, 1);
  --Nav-color-secondary:
rgba(255, 255, 255, 1);

}

body {
    color: var(--Text)
    background-color: var(--B-g-color)
    font-family: sans-serif;
    text-align: ;
    position: relative;
    width: 1440px;
    height: 2590px;
    }

ul {
  list-style: none;
}
/*.list {
  list-style: none;
}*/

.logo {
  color :var(--Primary-Brand);
}  


p {
  font-size: 24px;
  color:var(--Text)
}

a {
  text-decoration: none;
}

/* Site nav*/

.site-nav a {
  color:var(--Dark);
}

.site-nav a:hover,
.site-nav a:focus {
  color:var( --Primary-Brand);
}
.site-nav a:active {
  color:var( --Pressed-state);
}
.site-nav .link-currrent {
  color: var(--Primary-Brand);
}

/* Site address */
.auth-nav a {
  color: var(--Text);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color:var( --Primary-Brand);
}
.auth-nav a:active {
  color:var( --Pressed-state);
}

/* Site hero*/
.hero-title {
  color:var(--B-g-color);
}
.hero-link {
  color:var(--B-g-color);
}

/* S
ite section*/
 
.section-title {
  color:var(--Dark);
}

 /* Button */

 .button {
  color: var(--Primary-Brand);
  background-color: var(--Accent);
 }
 .button.primary:hover,
 .button.primery:focus {
  color: var(--B-g-color);
  background-color: var(--Primary-Brand);
 }
 .button.primary:active {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
 } 
 .button.primary {
   color: var(--Primary-Brand);
   background-color: var(--B-g-color)
 } 
 .button.secondary {
   color: var(--B-g-color);
   background-color: var(--Primary-Brand);
 }
.button.secondary:hover,
.button.secondary:focus {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
}