:root {
  --Primary-Brand:#4D5AE5;
  --Pressed-state:#404BBF;
  --Dark:#2E2F42;
  --Success: #31D0AA;
  --Text:#434455;
  --Subtle-Text:#8E8F99;
  --Accent:#E7E9FC;
  --Light:#F4F4FD;
  --Modal-overlay:rgba(46, 47, 66, 0.4);
  --Hero-background:rgba(46, 47, 66, 0.7);
  --B-g-color:#Ffffff;
  --Nav-color:rgba(231, 233, 252, 1);
  --Nav-color-secondary: rgba(255, 255, 255, 1);
}

body {

    color: var(--Text);
    background-color: var(--B-g-color);
    font-family: 'Roboto','Montserrat', 'Open Sans', sans-serif;
    font-size: 16px;
    }
/*
ul {
  list-style: none;
}*/

.list {
  list-style: none;
}
/*
a {
  text-decoration: none;
}
*/
/* Site nav*/

.site-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;   
}

.nav-logo .logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: var(--Dark);
}
.logo {
  color :var(--Primary-Brand);
  text-decoration: none;
}  

.logo-name {
  color: var(--Dark);
}
.site-nav a {
  color:var(--Dark);
  text-decoration: none;
}

.site-nav :hover,
.site-nav :focus {
  color:var( --Primary-Brand);

}
.site-nav :active {
  color:var( --Pressed-state);
}
.site-nav .link-current {
  color: var(--Primary-Brand);
}

/* Site address */

.auth-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}
.auth-nav a {
  color: inherit;
  text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color:var( --Primary-Brand);
}
.auth-nav a:active {
  color:var( --Pressed-state);
}

/* Site hero*/
.hero-title {
  color:var(--B-g-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-link {
  cursor: pointer;

}

/* S
ite section
Our advantages*/
 
.section-features {
  color:var(--Dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Site sectin What are we doing*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Site sectin Our Team
*/

.section-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Footer*/

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* Portflio.html */

.advantages-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
/* Site Advantages */

.advantages-list {
  text-decoration: none;
}

.advantages-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;  
  letter-spacing: 0.02em;
  color: var(--Dark);
}

.advantages-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);

}
 /* Button */

 /*.button {
  color: var(--Primary-Brand);
  background-color: var(--Accent);
 }
 */
 .button.primary:hover,
 .button.primary:focus {
  color: var(--B-g-color);
  background-color: var(--Primary-Brand);
 }
 .button.primary:active {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
 } 
 .button.primary {
  color: var(--Primary-Brand);
  background-color: var(--Light);
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
 } 
 .button.secondary {
   color: var(--B-g-color);
   background-color: var(--Primary-Brand); 
   
 }
.button.secondary:hover,
.button.secondary:focus {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
}